@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #020617; /* Sesuai dengan warna slate-950 Tailwind */
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}